@font-face {
    font-family: "Open Sans";
    src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: "Open Sans";

    max-width: 1440px;
    margin: 0 auto;
}

/* header */

.header_wrapper {
    display: flex;
    justify-content: space-between;
}

.header_nav ul {
    display: flex;
    justify-content: space-between;
}