@font-face {
    font-family: "Open Sans";
    src: url(/fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: "Open Sans";

    width: 1410px;
    margin: 0 auto;
    padding: 0 15px;
}

/* header */
.header {
    padding: 26px 0px;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0px 15px;
}

.wrapper.head{
    display: flex;
    justify-content: space-between;
}

.header_logo {
    padding: 2px 0px;
}

.header_nav ul {
    min-width: 146px;
    display: flex;
    justify-content: space-between;
}

.header_nav ul li a {
    color: #676770;
}

.header_nav ul li :hover{
    color: #0082f3;
}

/* section main start */
.main_start {
    padding: 195px 0px;
    background-image: url(/img/unsplash_BRDO4C-0h_s.png);
    background-position: center;
}

.start_title {
    margin: 0px 0px 115px 0px;
    text-align: center;
    font-weight: 400;
    font-size: 59px;
    line-height: 102%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #fff;
}

.start_button {
    margin: 0 auto;
    max-width: 342px;
    display: flex;
    justify-content: space-between;
}

.start_button :first-child{
    width: 138px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
}

.start_button :last-child{
    width: 183px;
    height: 45px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
}

.start_button :hover {
    background-color: #69b9ff;
}

/* section main start */
.main_question {
    padding: 80px 0px 0px 0px;
}

.question_title {
    font-size: 30px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #676770;
}

.question_text {
    margin: 25px 0px 65px 0px;
    font-size: 17px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: #8e8e9c;
}

.question_card-box {
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 300px;
    /* max-height: 290px; */
    padding: 45px 15px 25px 15px;
    border: 1px solid #dcebf7;
    border-radius: 5px;
    text-align: center;
}

.card img {
    margin-bottom: 28px;
}

.card h3 {
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    color: #676770;
}

.card p {
    font-size: 14px;
    line-height: 179%;
    color: #6a859c;
}

/* section main services */
.main_services {
    margin-bottom: 80px;
    padding: 50px 0px;
    background-color: #192024;
}
.services_title {
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.services_text {
    margin-bottom: 50px;
    font-size: 17px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: #e8e8e8;
}

.services_choices {
    display: flex;
    justify-content: space-between;
}

.choices_card img {
    margin-bottom: 15px;
    width: 430px;
    height: 287px;
}

.choices_card h3 {
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 0.35em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.choices_card p {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    font-size: 14px;
    line-height: 179%;
    text-align: center;
    color: #fff;
}

.choices_card button {
    display: block;
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 4px;
    width: 183px;
    height: 43px;
    color: #fff;
}

/* section main tab */
.main_tab {

}

.tab_title {
    margin-bottom: 15px;
    font-size: 30px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    text-align: center;
    color: #676770;
}

.tab_text {
    margin-bottom: 50px;
    font-size: 17px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    text-align: center;
    color: #8e8e9c;
}

.tab_buttons {
    max-width: 630px;
    margin: 0 auto 70px auto;
    display: flex;
    justify-content: space-between;
}

.tab_buttons button {
    width: 196px;
    height: 21px;
    font-size: 16px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #92a0ad;
    border-radius: 4px;
}

.tab_buttons button:hover {
    background-color: #0082f3;
}

.tab_buttons button:active {
    background-color: #0082f3;
}

.tab_buttons .active {
    background-color: #0082f3;
}

/* section main social */
.wrapper.social {
    display: flex;
    justify-content: space-between;
}

.social_about{
    max-width: 300px;
    min-width: 290px;
}

.about_title {
    margin-bottom: 25px;
    font-size: 18px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #676770;
}

.about_text {
    font-size: 14px;
    line-height: 179%;
    color: #6a859c;
}

.social_links {
    max-width: 300px;
    min-width: 290px;
}

.links_title {
    margin-bottom: 25px;
    font-size: 18px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #676770;
}

.links_item {
    padding-bottom: 10px;
    border-bottom: 1px solid #d5d5e0;
}

.links_item a {
    font-size: 13px;
    color: #668cad;
}

.social_messengers{
    max-width: 300px;
    min-width: 290px;
}

.messengers_title {
    margin-bottom: 25px;
    font-size: 18px;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #676770;
}

.messengers_links li {
    padding-bottom: 9px;
    border-bottom: 1px solid #d5d5e0;
}

.messengers_links li a {
    font-size: 13px;
    color: #668cad;
}

.messengers_item-twitter::before {
    content: url(../img/icon1.svg);
    margin-right: 10px;
}

.messengers_item-facebook::before {
    content: url(../img/icon2.svg);
    margin-right: 10px;
}

.messengers_item-pinterest::before {
    content: url(../img/icon3.svg);
    margin-right: 10px;
}

.messengers_item-google::before {
    content: url(../img/icon4.svg);
    margin-right: 10px;
}

.messengers_item-webflow::before {
    content: url(../img/icon5.svg);
    margin-right: 10px;
}

/* section main footer */
.footer {
    height: 100px;
    background-color: #383838;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text {
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    color: #9e9e9e;
}

/* tab version */

.tab_img {
    height: 500px;
    margin-bottom: 25px;
}

.tab_img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.option_title {
    margin-bottom: 10px;
    font-size: 31px;
    text-align: center;
    color: #676770;
}

.option_text {
    margin-bottom: 100px;
    font-size: 13px;
    text-align: center;
    color: #6a859c;
}

.tab_1 {
    display: block;
}

.tab_2 {
    display: none;
}

.tab_3 {
    display: none;
}